[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json
[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt
[submodule "ext/SG14"]
	path = ext/SG14
	url = https://github.com/WG21-SG14/SG14
[submodule "ext/glslang"]
	path = ext/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "ext/spirv-cross"]
	path = ext/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "ext/cml"]
	path = ext/cml
	url = https://github.com/cdgiessen/cml
[submodule "ext/imgui/imgui"]
	path = ext/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "ext/FastNoiseSIMD"]
	path = ext/FastNoiseSIMD
	url = https://github.com/Auburns/FastNoiseSIMD
[submodule "ext/vma"]
	path = ext/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "ext/stb/stb"]
	path = ext/stb/stb
	url = https://github.com/nothings/stb
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw

[submodule "ext/vk-bootstrap"]
	path = ext/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
