[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json
[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt
[submodule "ext/SG14"]
	path = ext/SG14
	url = https://github.com/WG21-SG14/SG14
[submodule "ext/glslang"]
	path = ext/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "ext/entt"]
	path = ext/entt
	url = https://github.com/skypjack/entt
[submodule "ext/spirv-cross"]
	path = ext/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "ext/cml"]
	path = ext/cml
	url = https://github.com/cdgiessen/cml
